.producthome {
    display: flex;
    justify-content: center;
}

.product {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.proview-a{
    text-decoration: none; /* Remove default underline */
           color: black;
}
.proview {
    display: flex;
    flex-direction: row;
    height: 250px;
    cursor: pointer;
    img {
        height: 200px;
    }
    .proviewimg {}
    .proviewdetails {
        display: flex;
        flex-direction: column;
        .proviewname {
            padding: 5px;
            font-size: 30px;
        }
        .provieprice {
            padding: 5px;
            font-size: 20px;
            color: red;
        }
        .proviedes {
            padding: 5px;
            font-size: 20px;
            color: rgb(77, 76, 76);
        }
    }
}

.hr {
    width: 1000px;
    color: black;
}